<template>
  <div class="rule-container">
    <div class="create-container">
      <el-button type="primary">增加停车计费规则</el-button>
      <el-button @click="exportToExcel">导出Excel</el-button>
    </div>
    <!-- 表格区域 -->
    <div class="table">
      <el-table :data="ruleList" style="width: 100%">
        <el-table-column type="index" label="序号" />
        <el-table-column label="计费规则编号" prop="ruleNumber" />
        <el-table-column label="计费规则名称" prop="ruleName" />
        <el-table-column label="免费时长(分钟)" prop="freeDuration" />
        <el-table-column label="收费上线(元)" prop="chargeCeiling" />
        <el-table-column label="计费方式" prop="chargeType">
          <template #default="scope">
            {{ formatChargeType(scope.row.chargeType) }}
          </template>
        </el-table-column>
        <el-table-column label="计费规则" prop="ruleNameView" />
        <el-table-column label="操作" fixed="right" width="120">
          <template #default="scope">
            <el-button size="mini" type="text">编辑</el-button>
            <el-button size="mini" type="text">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
import { getRuleListAPI } from "@/api/index.js";

import { utils, writeFileXLSX } from "xlsx";
export default {
  name: "Building",
  data() {
    return {
      ruleList: [],
      params: {
        page: 1,
        pageSize: 10,
      },
      total: 0,
      dialogVisible: false,
    };
  },

  created() {
    this.getList();
  },

  methods: {
    async getList() {
      const res = await getRuleListAPI(this.params);
      this.ruleList = res.data.rows;
      this.total = res.data.total;
    },

    exportToExcel() {
      // 创建一个新的工作簿
      const workbook = utils.book_new();
      // 创建一个工作表

      const tableHeader = [
        "ruleNumber",
        "ruleName",
        "freeDuration",
        "chargeCeiling",
        "chargeType",
        "ruleNameView",
      ];
      const sheetData = this.ruleList.map((item) => {
        let obj = {};
        tableHeader.forEach((key) => {
          if (key === "chargeType") {
            obj[key] = this.formatChargeType(item[key]);
          } else {
            obj[key] = item[key];
          }
        });
        return obj;
      });

      const worksheet = utils.json_to_sheet(sheetData);

      // 把工作表添加到工作簿  Data为工作表名称
      utils.book_append_sheet(workbook, worksheet, "Data");
      // 改写表头
      utils.sheet_add_aoa(
        worksheet,
        [
          [
            "计费编号",
            "计费规则名称",
            "免费时长(分钟)",
            "收费上线(元)",
            "计费方式",
            "计费规则",
          ],
        ],
        { origin: "A1" }
      );
      writeFileXLSX(workbook, "行车管理.xlsx");
    },

    formatChargeType(type) {
      const MAP = {
        duration: "时长收费",
        turn: "按次收费",
        partition: "分段收费",
      };

      return MAP[type];
    },
  },
};
</script>

<style lang="scss" scoped>
.rule-container {
  padding: 20px;
  background-color: #fff;
}

.search-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(237, 237, 237, 0.9);
  padding-bottom: 20px;

  .search-label {
    width: 100px;
  }

  .search-main {
    width: 220px;
    margin-right: 10px;
  }
}
.create-container {
  margin: 10px 0px;
}
.page-container {
  padding: 4px 0px;
  text-align: right;
}
.form-container {
  padding: 0px 80px;
}
</style>
