<template>
  <!-- 编辑和添加弹框 -->
  <div class="dialog-info">
    <el-dialog
      :title="flag ? '编辑楼宇' : '新增楼宇'"
      :visible.sync="dialogVisible"
      width="35%"
    >
      <el-form ref="form" :model="dialogForm" :rules="rules">
        <el-form-item label="楼宇名称" prop="name">
          <el-input
            v-model="dialogForm.name"
            placeholder="请输入楼宇名称"
          ></el-input>
        </el-form-item>
        <el-form-item label="楼宇层数" prop="floors">
          <el-input
            type="number"
            v-model="dialogForm.floors"
            placeholder="请输入楼宇层数"
          ></el-input>
        </el-form-item>
        <el-form-item label="在管面积" prop="area">
          <el-input
            v-model="dialogForm.area"
            placeholder="请输入在管面积"
          ></el-input>
        </el-form-item>
        <el-form-item label="物业费" prop="propertyFeePrice">
          <el-input
            v-model="dialogForm.propertyFeePrice"
            placeholder="请输入物业费"
          ></el-input>
        </el-form-item>
      </el-form>

      <template #footer>
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="submit">确 认</el-button>
      </template>
    </el-dialog>
  </div>
</template>

<script>
import { insertBuilding, updateBuilding } from "@/api/index";
export default {
  // props: {
  //   editInfo: {
  //     type: Object,
  //     default: () => ({}),
  //   },
  //   false 新建  true 编辑
  //   flag: {
  //     type: Boolean,
  //     default: false,
  //   },
  // },
  data() {
    return {
      dialogVisible: false,
      dialogForm: {
        name: "",
        floors: "",
        area: "",
        propertyFeePrice: "",
      },
      flag: false,
      id: "",
      rules: {
        name: [{ required: true, message: "请输入楼宇名称", trigger: "blur" }],
        floors: [
          { required: true, message: "请输入楼宇层数", trigger: "blur" },
        ],
        area: [{ required: true, message: "请输入在管面积", trigger: "blur" }],
        propertyFeePrice: [
          { required: true, message: "请输入物业费", trigger: "blur" },
        ],
      },
    };
  },

  emits: ["insertBuilding", "editBuilding"],
  methods: {
    submit() {
      this.$refs.form.validate(async (valid) => {
        if (valid) {
          if (!this.flag) {
            await insertBuilding(this.dialogForm);
            this.$emit("insertBuilding", false);
          } else {
            await updateBuilding({ ...this.dialogForm, id: this.id });
            this.$emit("editBuilding", false);
          }
        }
      });
    },
    //改变弹框的状态

    /**
     * 参数一 接收的是否展示弹框
     * 参数二 控制的是编辑和新增
     */
    changeDialogVisible(isShow, flag, value) {
      this.dialogForm = {};
      if (flag) {
        this.id = value.id;
        const { name, floors, area, propertyFeePrice } = value;
        this.dialogForm = { name, floors, area, propertyFeePrice };
      }
      this.flag = flag;
      this.dialogVisible = isShow;
    },
  },
};
</script>

<style lang="scss" scoped></style>
