<template>
  <div class="building-container">
    <!-- 搜索区域 -->
    <div class="search-container">
      <div class="search-label">楼宇名称：</div>
      <el-input
        placeholder="请输入内容"
        class="search-main"
        v-model="formParams.name"
        clearable
        @clear="clearData"
      />
      <el-button type="primary" @click="getBuildList">查询</el-button>
    </div>
    <div class="create-container">
      <el-button type="primary" @click="handleAdd">添加楼宇</el-button>
    </div>
    <!-- 表格区域 -->
    <div class="table">
      <el-table style="width: 100%" :data="tableData">
        <el-table-column prop="index" label="序号" type="index" />
        <el-table-column label="楼宇名称" width="180" prop="name" />
        <el-table-column label="层数" prop="floors" />
        <el-table-column label="在管面积(m²)" width="120" prop="area" />
        <el-table-column
          label="物业费(元/m²)"
          width="120"
          prop="propertyFeePrice"
        />
        <el-table-column label="状态" prop="status">
          <template #default="scope">
            {{ scope.row.status === 0 ? "空置" : "租赁中" }}
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template #default="scope">
            <el-button size="mini" type="text" @click="handleEdit(scope.row)"
              >编辑</el-button
            >
            <el-button
              size="mini"
              type="text"
              :disabled="scope.row.status === 1"
              @click="handleDelete(scope.row.id)"
              >删除</el-button
            >
          </template>
        </el-table-column>
      </el-table>
      <div class="page-container">
        <el-pagination
          class=""
          @size-change="changePageSize"
          background
          @current-change="changeCurrentPage"
          :current-page="formParams.page"
          :page-sizes="[10, 20, 50, 100]"
          :page-size="formParams.pageSize"
          layout="total,prev,pager, next,sizes, jumper"
          :total="total"
        >
        </el-pagination>
      </div>
    </div>

    <building-dialog
      ref="dialogRef"
      @insertBuilding="handelInsertBuilding"
      @editBuilding="handelEditBuilding"
      :flag="flag"
    ></building-dialog>
  </div>
</template>

<script>
import { getBuildingListAPI, deleteBuilding } from "@/api/building";
import BuildingDialog from "./building-dialog.vue";
export default {
  name: "Building",
  components: {
    BuildingDialog,
  },
  data() {
    return {
      tableData: [],
      total: 0,

      formParams: {
        name: "",
        page: 1,
        pageSize: 10,
      },

      editInfo: {},
      flag: false,
    };
  },

  mounted() {
    this.getBuildList();
  },

  computed: {
    getStatus() {},
  },

  methods: {
    async getBuildList() {
      let res = await getBuildingListAPI(this.formParams);
      this.tableData = res.data.rows;
      this.total = res.data.total;
    },
    clearData() {
      this.getBuildList();
    },

    //# 改变当前页码
    changeCurrentPage(val) {
      this.formParams.page = val;
      this.getBuildList();
    },

    //# 改变一页展示的数量
    changePageSize(val) {
      this.formParams.page = 1;
      this.formParams.pageSize = val;
      this.getBuildList();
    },

    handleAdd() {
      // this.dialogVisible = true;
      // this.flag = false;
      this.$refs.dialogRef.changeDialogVisible(true, false);
    },

    handleEdit(value) {
      this.editInfo = value;
      // this.flag = true;
      this.$refs.dialogRef.changeDialogVisible(true, true, value);
    },

    handleDelete(id) {
      this.$confirm("您确定要删除吗?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(async () => {
        await deleteBuilding(id);
        this.formParams.page = 1;
        this.getBuildList();
        this.$message({
          message: "删除成功",
          type: "success",
        });
      });
    },

    handelInsertBuilding(value) {
      this.formParams.page = 1;
      this.getBuildList();
      this.$refs.dialogRef.changeDialogVisible(value);
      this.$message({
        message: "新增成功",
        type: "success",
      });
    },

    handelEditBuilding(value) {
      this.getBuildList();
      this.$refs.dialogRef.changeDialogVisible(value);
      this.$message({
        message: "编辑成功",
        type: "success",
      });
    },
  },
};
</script>

<style lang="scss" scoped>
// .department-container {
//   padding: 10px;
//   // height: 100%;
// }

.building-container {
  &::v-deep .el-dialog {
    border-radius: 8px;
  }
  &::v-deep .el-dialog__body {
    padding: 0 65px;
  }

  &::v-deep .el-dialog__footer {
    padding: 20px 65px;
  }
}
.search-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(237, 237, 237, 0.9);
  padding-bottom: 20px;
  .search-label {
    width: 100px;
  }
  .search-main {
    width: 220px;
    margin-right: 10px;
  }
}

// .el-dialog__body {
//   padding: 0 35px;
// }

// .page-info {
//   display: flex;
//   justify-content: flex-end;
//   margin-top: 15px;
// }
.page-container {
  padding: 15px 0px;
  text-align: right;
}
</style>
