<template>
  <div class="employee-dialog">
    <el-dialog
      :title="id !== null ? '编辑员工' : '添加员工'"
      :visible="showDialog"
      width="35%"
      @close="closeClick"
    >
      <el-form
        :model="formData"
        :rules="rules"
        ref="form"
        class="demo-ruleForm"
      >
        <el-form-item label="员工姓名" prop="name">
          <el-input
            clearable
            size="small"
            v-model="formData.name"
            placeholder="请填写员工姓名"
          ></el-input>
        </el-form-item>
        <el-form-item label="登录账号" prop="userName">
          <el-input
            clearable
            size="small"
            v-model="formData.userName"
            placeholder="请填写登录账号"
          ></el-input>
        </el-form-item>

        <el-form-item label="联系方式" prop="phonenumber">
          <el-input
            size="small"
            clearable
            v-model="formData.phonenumber"
            placeholder="请填写联系方式"
          ></el-input>
          <div>默认密码：123456</div>
        </el-form-item>

        <el-form-item label="分配角色" prop="roleId">
          <el-select
            clearable
            size="small"
            v-model="formData.roleId"
            placeholder="请选择分配角色"
            style="width: 100%"
          >
            <el-option
              v-for="item in roleList"
              :key="item.roleId"
              :label="item.roleName"
              :value="item.roleId"
            >
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="员工状态" prop="status">
          <el-radio v-model="formData.status" :label="0">禁用</el-radio>
          <el-radio v-model="formData.status" :label="1">启用</el-radio>
        </el-form-item>
      </el-form>

      <span slot="footer" class="dialog-footer">
        <el-button @click="closeClick" size="small">取 消</el-button>
        <el-button type="primary" @click="confirmClick" size="small"
          >确 定</el-button
        >
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  getRoleListAPI,
  getEmployeeDetailApi,
  updataeEmployeeApi,
  appendEmployeeAPi,
} from "@/api/index";

export default {
  name: "employee-dialog",
  props: {
    showDialog: {
      type: Boolean,
      default: false,
    },
    id: {
      type: Number,
      default: null,
    },
  },
  emits: ["update:showDialog", "successInfo"],
  data() {
    return {
      formData: {
        name: "",
        userName: "",
        phonenumber: "",
        roleId: "",
        status: 1,
      },
      roleList: [],
      rules: {
        name: [{ required: true, message: "请填写员工姓名", trigger: "blur" }],
        userName: [
          { required: true, message: "请填写登录账号", trigger: "blur" },
        ],
        phonenumber: [
          { required: true, message: "请填写联系方式", trigger: "blur" },
        ],
        roleId: [
          { required: true, message: "请选择关联区域", trigger: "change" },
        ],
        status: [
          { required: true, message: "请选择员工状态", trigger: "change" },
        ],
      },
    };
  },

  mounted() {
    this.getRoleList();
  },

  methods: {
    //获取角色列表
    async getRoleList() {
      const res = await getRoleListAPI();

      this.roleList = res.data;
    },

    //关闭时操作
    closeClick() {
      this.$refs.form.resetFields();
      Object.keys(this.formData).forEach((key) => (this.formData[key] = ""));
      this.$emit("update:showDialog", false);
    },

    //获取员工详情信息
    async getEmployeeDetail() {
      let res = await getEmployeeDetailApi(this.id);
      const { name, userName, phonenumber, roleId, status } = res.data;
      this.formData = { name, userName, phonenumber, roleId, status };
    },

    //点击确认操作
    confirmClick() {
      this.$refs.form.validate(async (valid) => {
        if (valid) {
          if (this.id) {
            await updataeEmployeeApi({ id: this.id, ...this.formData });
            this.$message.success("更新成功");
            this.$emit("successInfo", "edit");
          } else {
            await appendEmployeeAPi(this.formData);
            this.$message.success("添加成功");
            this.$emit("successInfo", "add");
          }
          this.closeClick();
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped></style>
