<template>
  <div class="propety-container">
    <!-- 搜索区域 -->
    <div class="search-container">
      <div class="search-label">企业名称：</div>
      <el-input
        placeholder="请输入内容"
        class="search-main"
        v-model="formParams.enterpriseName"
        clearable
        size="small"
      />
      <div class="search-label">缴费日期：</div>
      <el-date-picker
        v-model="formParams.times"
        type="daterange"
        range-separator="至"
        start-placeholder="开始日期"
        end-placeholder="结束日期"
        size="small"
        clearable
        value-format="yyyy-MM-dd"
      >
      </el-date-picker>
      <el-button
        type="primary"
        @click="querInfo"
        size="small"
        style="margin-left: 20px"
        >查询</el-button
      >
    </div>
    <div class="create-container">
      <el-button
        type="primary"
        @click="addClick"
        size="small"
        style="margin: 20px 0"
        >添加楼宇</el-button
      >
    </div>
    <!-- 表格区域 -->
    <div class="table">
      <el-table style="width: 100%" :data="tableData">
        <el-table-column
          prop="index"
          label="序号"
          type="index"
          align="center"
        />
        <el-table-column label="账单编号" prop="billNumber" align="center" />
        <el-table-column
          label="企业名称"
          prop="enterpriseName"
          align="center"
        />
        <el-table-column label="租赁楼宇" prop="buildingName" align="center" />
        <el-table-column
          label="物业费(元/m²)"
          prop="propertyFeePrice"
          align="center"
        />
        <el-table-column
          label="账单金额(元)"
          prop="paymentAmount"
          align="center"
        />
        <el-table-column label="缴费时间" prop="createTime" align="center" />
        <el-table-column label="操作" align="center">
          <template #default="scope">
            <el-button size="mini" type="text">查看</el-button>
            <el-button
              size="mini"
              type="text"
              @click="deleteClick(scope.row.id)"
              >删除</el-button
            >
          </template>
        </el-table-column>
      </el-table>
      <div class="page-container">
        <el-pagination
          @size-change="changePageSize"
          background
          @current-change="changeCurrentPage"
          :current-page="formParams.page"
          :page-sizes="[10, 20, 50, 100]"
          :page-size="formParams.pageSize"
          layout="total,prev,pager, next,sizes, jumper"
          :total="total"
        >
        </el-pagination>
      </div>
    </div>

    <propety-dialog
      :showDialog="showDialog"
      ref="dialogRef"
      @closeClick="handleCloseClick"
    ></propety-dialog>
  </div>
</template>

<script>
import { getPropetyListApi, deletePropetyInfoApi } from "@/api/index";
import propetyDialog from "@/views/Propety/propety-dialog.vue";
export default {
  name: "property",

  components: {
    propetyDialog,
  },
  data() {
    return {
      formParams: {
        pageSize: 10,
        page: 1,
        enterpriseName: "",
        times: [],
      },
      tableData: [],
      total: 0,
      showDialog: false,
    };
  },
  mounted() {
    this.getPropetyList();
  },
  methods: {
    async getPropetyList() {
      const { pageSize, page, enterpriseName, times } = this.formParams;
      let start = "";
      let end = "";
      if (times && times.length > 0) {
        start = times[0];
        end = times[1];
      }
      let res = await getPropetyListApi({
        pageSize,
        page,
        enterpriseName,
        start,
        end,
      });
      // console.log(res);
      this.tableData = res.data.rows;
      this.total = res.data.total;
    },
    //根据查询条件
    querInfo() {
      this.formParams.page = 1;
      this.getPropetyList();
    },

    handleCloseClick() {
      this.showDialog = false;
    },
    addClick() {
      this.showDialog = true;

      // this.$refs.dialogRef.getAllListInfo();
    },
    changePageSize(val) {
      this.formParams.pageSize = val;
      this.getPropetyList();
    },

    changeCurrentPage(val) {
      this.formParams.page = val;
      this.getPropetyList();
    },

    deleteClick(id) {
      this.$confirm("是否确认删除当前账单?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(async () => {
        await deletePropetyInfoApi(id);
        this.formParams.page = 1;
        this.getPropetyList();

        this.$message({
          message: "删除成功",
          type: "success",
        });
      });
    },
  },
};
</script>

<style scoped lang="scss">
// .propety-container {
//   &::v-deep .el-dialog {
//     border-radius: 8px;
//   }
//   &::v-deep .el-dialog__body {
//     padding: 0 65px;
//   }

//   &::v-deep .el-dialog__footer {
//     padding: 20px 65px;
//   }
// }
.search-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(237, 237, 237, 0.9);
  padding-bottom: 20px;
  .search-label {
    width: 100px;
  }
  .search-main {
    width: 220px;
    margin-right: 10px;
  }
}

// .el-dialog__body {
//   padding: 0 35px;
// }

// .page-info {
//   display: flex;
//   justify-content: flex-end;
//   margin-top: 15px;
// }
.page-container {
  padding: 15px 0px;
  text-align: right;
}
</style>
