<template>
  <div class="propety-dialog">
    <el-dialog
      title="添加账单"
      :visible="showDialog"
      width="35%"
      @close="closeInfoClick"
    >
      <el-form ref="form" :model="propetyForm" :rules="propetyRules">
        <el-form-item label="选择租户" prop="enterpriseId">
          <el-select
            style="width: 100%"
            v-model="propetyForm.enterpriseId"
            placeholder="请选择租户"
            clearable
          >
            <el-option
              v-for="item in enterpriseList"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            >
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="租赁楼宇" prop="buildingId">
          <el-select
            clearable
            style="width: 100%"
            v-model="propetyForm.buildingId"
            placeholder="请选择租赁楼宇"
            @change="changeInfo"
          >
            <el-option
              v-for="item in buildingList"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            >
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="缴费周期" prop="area">
          <el-date-picker
            style="width: 100%"
            v-model="propetyForm.times"
            type="daterange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            value-format="yyyy-MM-dd"
            clearable
            @change="changeInfo"
          >
          </el-date-picker>
        </el-form-item>
        <el-form-item label="支付金额" prop="paymentAmount">
          <el-input
            v-model="propetyForm.paymentAmount"
            placeholder="请输入支付金额"
            disabled
          ></el-input>
        </el-form-item>

        <el-form-item label="支付方式" prop="paymentMethod">
          <el-select
            v-model="propetyForm.paymentMethod"
            placeholder="请选择支付方式"
            style="width: 100%"
            clearable
          >
            <el-option
              v-for="item in payWays"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>

      <template #footer>
        <el-button @click="closeInfoClick">取 消</el-button>
        <el-button type="primary" @click="submit">确 认</el-button>
      </template>
    </el-dialog>
  </div>
</template>

<script>
import {
  getAllEnterpriseListApi,
  getAllBuildingListApi,
  countePayResultApi,
} from "@/api/index";
export default {
  name: "propetyDialog",

  props: {
    showDialog: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      payWays: [
        {
          value: 1,
          label: "微信",
        },
        {
          value: 2,
          label: "支付宝",
        },
        {
          value: 3,
          label: "现金",
        },
      ],

      enterpriseList: [],
      buildingList: [],

      propetyForm: {
        enterpriseId: null,
        buildingId: null,
        times: [],
        paymentAmount: null,
        paymentMethod: null,
      },
      propetyRules: {
        enterpriseId: [
          { required: true, message: "请选择租户", trigger: "change" },
        ],
        buildingId: [
          { required: true, message: "请选择租赁楼宇", trigger: "change" },
        ],
        paymentMethod: [
          { required: true, message: "请选择缴费周期", trigger: "change" },
        ],
        paymentAmount: [
          { required: true, message: "请输入支付金额", trigger: "blur" },
        ],
        paymentMethod: [
          { required: true, message: "请选择支付方式", trigger: "change" },
        ],
      },
    };
  },
  mounted() {
    this.getAllListInfo();
  },

  emits: ["closeClick"],
  methods: {
    closeInfoClick() {
      this.$refs.form.resetFields();
      Object.keys(this.propetyForm).forEach(
        (key) => (this.propetyForm[key] = "")
      );
      this.$emit("closeClick");
    },

    /***
     * 数据发生改变
     */
    async changeInfo() {
      const { buildingId, times } = this.propetyForm;
      if (buildingId && times && times.length > 0) {
        const res = await countePayResultApi({
          buildingId: this.propetyForm?.buildingId,
          startTime: this.propetyForm?.times[0],
          endTime: this.propetyForm?.times[1],
        });
        this.propetyForm.paymentAmount = res.data;
      }
    },
    async getAllListInfo() {
      const enList = await getAllEnterpriseListApi();
      const buList = await getAllBuildingListApi();
      this.enterpriseList = enList.data;
      this.buildingList = buList.data;
    },

    //提交数据
    submit() {
      this.$refs.form.validate(async (valid) => {
        if (valid) {
          
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.propety-dialog {
  &::v-deep .el-dialog {
    border-radius: 8px;
  }
  &::v-deep .el-dialog__body {
    padding: 0 65px;
  }

  &::v-deep .el-dialog__footer {
    padding: 20px 65px;
  }
}
</style>
