<template>
  <div class="building-container">
    <div class="search-container">
      <div class="search-label">一体杆名称：</div>
      <el-input
        size="small"
        clearable
        v-model="quertyParams.poleName"
        placeholder="请输入一体杆名称"
        class="search-main"
      />
      <div class="search-label">一体杆编号：</div>
      <el-input
        size="small"
        clearable
        v-model="quertyParams.poleNumber"
        placeholder="请输入一体杆编号"
        class="search-main"
      />
      <div class="search-label">运行状态:</div>
      <el-select
        size="small"
        clearable
        v-model="quertyParams.poleStatus"
        placeholder="请选择运行状态"
      >
        <el-option
          v-for="item in options"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        >
        </el-option>
      </el-select>
      <el-button type="primary" @click="queryInfo">查询</el-button>
    </div>

    <div class="table-list">
      <div class="create-container">
        <el-button type="primary" @click="addClick">添加一体杆</el-button>

        <el-button @click="batchDelete">批量删除</el-button>
      </div>

      <el-table
        ref="multipleTable"
        :data="tableData"
        tooltip-effect="dark"
        style="width: 100%"
        @selection-change="handleSelectionChange"
      >
        <el-table-column type="selection"> </el-table-column>
        <el-table-column label="序号" type="index"> </el-table-column>
        <el-table-column label="一体杆名称" prop="poleName"> </el-table-column>
        <el-table-column label="一体杆编号" prop="poleNumber">
        </el-table-column>
        <el-table-column prop="poleIp" label="一体敢IP"> </el-table-column>
        <el-table-column prop="areaName" label="安装区域"> </el-table-column>
        <el-table-column prop="poleType" label="一体杆类型">
          <template #default="scope">
            {{ formatType(scope.row.poleType) }}
          </template>
        </el-table-column>
        <el-table-column prop="poleStatus" label="运行状态">
          <template #default="scope">
            {{ scope.row.poleStatus === 0 ? "正常" : "异常" }}
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template #default="scope">
            <el-button type="text" size="small" @click="editClick(scope.row)"
              >编辑</el-button
            >
            <el-button type="text" size="small" @click="delClick(scope.row.id)"
              >删除</el-button
            >
          </template>
        </el-table-column>
      </el-table>

      <el-pagination
        background
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="quertyParams.page"
        :page-sizes="[10, 20, 30, 50]"
        :page-size="quertyParams.pageSize"
        layout="total, prev, pager, next,sizes,  jumper"
        :total="total"
      >
      </el-pagination>
    </div>

    <RodDialog
      ref="rodDialogRef"
      @insertPoleInfo="handleInsertPoleInfo"
      @updatePoleInfo="handleUpdatePoleInfo"
    ></RodDialog>
  </div>
</template>

<script>
import { getPoleListApi, deletePoleApi } from "@/api/index";
import RodDialog from "@/views/Rod/RodManage/rod-dialog.vue";
export default {
  components: {
    RodDialog,
  },
  name: "RodMange",
  data() {
    return {
      fromData: {
        status: "",
      },
      total: 0,
      tableData: [],
      quertyParams: {
        page: 1,
        pageSize: 10,
        poleName: "",
        poleNumber: "",
        poleStatus: "",
      },
      options: [
        {
          value: 0,
          label: "正常",
        },
        {
          value: 1,
          label: "异常",
        },
      ],
      batchId: "",
    };
  },

  mounted() {
    this.getPoleList();
  },

  methods: {
    async getPoleList() {
      let res = await getPoleListApi(this.quertyParams);

      this.tableData = res.data.rows;

      this.total = res.data.total;
    },

    handleSizeChange(value) {
      this.quertyParams.page = 1;
      this.quertyParams.pageSize = value;
      this.getPoleList();
    },
    queryInfo() {
      this.quertyParams.page = 1;
      this.getPoleList();
    },
    handleCurrentChange(value) {
      console.log(value);
      this.quertyParams.page = value;
      this.getPoleList();
    },

    handleSelectionChange(arrList) {
      let batchId = arrList.map((item) => item.id);
      this.batchId = batchId.join(",");
    },

    formatType(type) {
      let STATUS_MAP = {
        entrance: "入口",
        export: "出口",
        center: "中间",
      };
      return STATUS_MAP[type];
    },

    addClick() {
      this.$refs.rodDialogRef.changeDialogVisible(true);
    },

    editClick(info) {
      this.$refs.rodDialogRef.changeDialogVisible(false, info);
    },

    handleInsertPoleInfo(value) {
      if (value) {
        // debugger
        this.quertyParams.page = 1;
        this.$message({
          type: "success",
          message: "添加成功",
        });
        this.getPoleList();
      }
    },

    handleUpdatePoleInfo(value) {
      if (value) {
        // debugger
        this.$message({
          type: "success",
          message: "更新成功",
        });
        this.getPoleList();
      }
    },

    //单个删除
    delClick(id) {
      this.$confirm("您确定要删除这条记录吗？", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(async () => {
        await deletePoleApi(id);
        this.getPoleList();
        this.$message({
          type: "success",
          message: "删除成功!",
        });
      });
    },
    //批量删除
    batchDelete() {
      this.$confirm("您确定要删除选中记录吗？", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(async () => {
        await deletePoleApi(this.batchId);
        this.getPoleList();
        this.$message({
          type: "success",
          message: "删除成功!",
        });
      });
    },
  },
};
</script>

<style scoped lang="scss">
.search-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(237, 237, 237, 0.9);
  padding-bottom: 20px;
  .search-label {
    width: 100px;
  }
  .search-main {
    width: 220px;
    margin-right: 10px;
  }

  .el-button {
    margin-left: 10px;
  }
}

.table-list {
  margin: 15px 0;

  .el-button {
    margin-right: 15px;
  }
}

.el-pagination {
  margin-top: 10px;
  text-align: right;
}
</style>
