<template>
  <div class="dialog-info">
    <el-dialog
      :title="isAdd ? '添加一体杆' : '编辑一体杆'"
      :visible.sync="dialogVisible"
      width="30%"
      @close="closeClick"
    >
      <el-form :model="rodForm" :rules="rules" ref="form" class="demo-ruleForm">
        <el-form-item label="一体杆名称" prop="poleName">
          <el-input
            clearable
            size="small"
            v-model="rodForm.poleName"
            placeholder="请输入一体杆名称"
          ></el-input>
        </el-form-item>
        <el-form-item label="一体杆编号" prop="poleNumber">
          <el-input
            clearable
            size="small"
            v-model="rodForm.poleNumber"
            placeholder="请输入一体杆编号"
          ></el-input>
        </el-form-item>

        <el-form-item label="一体杆IP" prop="poleIp">
          <el-input
            size="small"
            clearable
            v-model="rodForm.poleIp"
            placeholder="请输入一体杆IP"
          ></el-input>
        </el-form-item>

        <el-form-item label="关联区域" prop="areaId">
          <el-select
            clearable
            size="small"
            v-model="rodForm.areaId"
            placeholder="请选择关联区域"
            style="width: 100%"
          >
            <el-option
              v-for="item in areaList"
              :key="item.areaId"
              :label="item.areaName"
              :value="item.areaId"
            >
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="一体杆类型" prop="poleType">
          <el-select
            clearable
            v-model="rodForm.poleType"
            placeholder="请选择一体杆类型"
            style="width: 100%"
            size="small"
          >
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>

      <span slot="footer" class="dialog-footer">
        <el-button @click="closeClick">取 消</el-button>
        <el-button type="primary" @click="confirmClick">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import { getAreaDropListApi, insertPoleApi, updatePoleApi } from "@/api/index";
export default {
  name: "RodDialog",

  data() {
    return {
      dialogVisible: false,
      isAdd: true,
      areaList: [],
      rodForm: {
        poleName: "",
        poleNumber: "",
        poleIp: "",
        areaId: "",
        poleType: "",
      },

      editId: "",
      rules: {
        poleName: [
          { required: true, message: "请输入一体杆名称", trigger: "blur" },
        ],
        poleNumber: [
          { required: true, message: "请输入一体杆编号", trigger: "blur" },
        ],
        poleIp: [
          { required: true, message: "请输入一体杆IP", trigger: "blur" },
        ],
        areaId: [
          { required: true, message: "请选择关联区域", trigger: "change" },
        ],
        poleType: [
          { required: true, message: "请选择一体杆类型", trigger: "change" },
        ],
      },

      options: [
        {
          value: "export",
          label: "出口",
        },
        {
          value: "entrance",
          label: "入口",
        },
      ],
    };
  },

  emits: ["insertPoleInfo", "updatePoleInfo"],
  methods: {
    changeDialogVisible(isAdd, info) {
      this.dialogVisible = true;
      if (!isAdd) {
        this.editId = info.id;
        const { poleName, poleNumber, poleIp, areaId, poleType } = info;
        this.rodForm = { poleName, poleNumber, poleIp, areaId, poleType };
      }
      this.isAdd = isAdd;
      this.getAreaList();
    },

    async getAreaList() {
      const res = await getAreaDropListApi();
      // console.log(res);
      this.areaList = res.data;
    },

    //关闭时，执行
    closeClick() {
      this.$refs.form.resetFields();
      Object.keys(this.rodForm).forEach((key) => (this.rodForm[key] = ""));
      this.dialogVisible = false;
    },

    confirmClick() {
      this.$refs.form.validate(async (valid) => {
        if (valid) {
          if (this.isAdd) {
            await insertPoleApi(this.rodForm);
            this.closeClick();
            this.$emit("insertPoleInfo", true);
          } else {
            await updatePoleApi({ ...this.rodForm, id: this.editId });
            this.closeClick();
            this.$emit("updatePoleInfo", true);
          }
        }
      });
    },
  },
};
</script>

<style scoped lang="scss">
.el-form {
  padding: 0 40px;
}

.el-dialog {
  border-radius: 8px;
}
</style>
