<template>
  <div class="add-enterprise">
    <header class="add-header">
      <div class="left">
        <span class="arrow" @click="$router.back()"
          ><i class="el-icon-arrow-left" />返回</span
        >
        <span>|</span>
        <span>{{ id ? "编辑" : "新增" }}企业</span>
      </div>
      <div class="right">黑马程序员</div>
    </header>
    <main class="add-main">
      <div class="form-container">
        <div class="title">企业信息</div>
        <div class="form">
          <el-form
            label-width="100px"
            :model="addForm"
            :rules="addRules"
            ref="addForm"
          >
            <el-form-item label="企业名称" prop="name">
              <el-input v-model="addForm.name" />
            </el-form-item>
            <el-form-item label="法人" prop="legalPerson">
              <el-input v-model="addForm.legalPerson" />
            </el-form-item>
            <el-form-item label="注册地址" prop="registeredAddress">
              <el-input v-model="addForm.registeredAddress" />
            </el-form-item>
            <el-form-item label="所在行业" prop="industryCode">
              <el-select v-model="addForm.industryCode">
                <el-option
                  v-for="item in industryList"
                  :key="item.industryCode"
                  :label="item.industryName"
                  :value="item.industryCode"
                >
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="企业联系人" prop="contact">
              <el-input v-model="addForm.contact" />
            </el-form-item>
            <el-form-item label="联系电话" prop="contactNumber">
              <el-input v-model="addForm.contactNumber" />
            </el-form-item>
            <el-form-item label="营业执照" prop="businessLicenseId">
              <el-upload
                class="upload-demo"
                :http-request="upload"
                action="#"
                :before-upload="beforeUpload"
              >
                <el-button size="small" type="primary"> 点击上传 </el-button>
                <div slot="tip" class="el-upload__tip">
                  只能上传jpg/png/jpeg文件，且不超过5M
                </div>
              </el-upload>
              <div>
                <img
                  :src="addForm.businessLicenseUrl"
                  alt=""
                  style="width: 80px"
                />
              </div>
            </el-form-item>
          </el-form>
        </div>
      </div>
    </main>
    <footer class="add-footer">
      <div class="btn-container">
        <el-button>重置</el-button>
        <el-button type="primary" @click="submitInfo">确定</el-button>
      </div>
    </footer>
  </div>
</template>

<script>
import {
  getIndustryListAPI,
  uploadFile,
  insertExterprise,
  getExterpriseDetails,
  editExterprise,
} from "@/api/index";

export default {
  data() {
    let validatePhone = (rule, value, callback) => {
      if (/^1[3-9]\d{9}$/.test(value)) {
        callback();
      } else {
        callback(new Error("请输入正确的手机号格式"));
      }
    };

    return {
      addForm: {
        name: "", // 企业名称
        legalPerson: "", // 法人
        registeredAddress: "", // 注册地址
        industryCode: "", // 所在行业
        contact: "", // 企业联系人
        contactNumber: "", // 联系人电话
        businessLicenseUrl: "", // 营业执照url
        businessLicenseId: "", // 营业执照id
      },

      addRules: {
        name: [{ required: true, message: "请输入企业名称", trigger: "blur" }],
        legalPerson: [
          { required: true, message: "请输入法人", trigger: "blur" },
        ],
        registeredAddress: [
          {
            required: true,
            message: "请输入注册地址",
            trigger: "blur",
          },
        ],
        industryCode: [
          {
            required: true,
            message: "请选择所在行业",
            trigger: "change",
          },
        ],
        contact: [
          {
            required: true,
            message: "请输入企业联系人",
            trigger: "blur",
          },
        ],
        contactNumber: [
          { required: true, message: "请输入联系人电话", trigger: "blur" },
          { validator: validatePhone, trigger: "blur" },
        ],
        businessLicenseId: [{ required: true, message: "请上传营业执照" }],
      },

      industryList: [],
    };
  },

  computed: {
    id() {
      return this.$route.query.id;
    },
  },

  mounted() {
    this.getIndustryList();

    if (this.id) {
      this.getDetail();
    }
  },

  methods: {
    async getIndustryList() {
      let res = await getIndustryListAPI();

      this.industryList = res.data;
    },

    async upload(res) {
      const formData = new FormData();

      formData.append("file", res.file);
      formData.append("type", "businessLicense");
      let data = await uploadFile(formData);

      this.addForm.businessLicenseId = data.data.id;
      this.addForm.businessLicenseUrl = data.data.url;
      //对上传文件的字段进行单独校验
      this.$refs.addForm.validateField("businessLicenseId");
    },

    // 上传之前进行校验
    beforeUpload(file) {
      let allowImgType = ["image/png", "image/jpg", "image/jpeg"].includes(
        file.type
      );

      const isLt5M = file.size / 1024 / 1024 < 5;
      if (!allowImgType) {
        this.$message.error("上传头像图片只能是 jpg/png/jpeg 格式!");
      }
      if (!isLt5M) {
        this.$message.error("上传头像图片大小不能超过 5MB!");
      }
      return allowImgType && isLt5M;
    },

    //提交表单校验
    submitInfo() {
      this.$refs.addForm.validate(async (valid) => {
        if (valid) {
          if (this.id) {
            await editExterprise({ ...this.addForm, id: this.id });
          } else {
            await insertExterprise(this.addForm);
          }
          this.$router.back();
          // this.$message.success("新增成功");
          this.$message({
            type: "success",
            message: `${this.id ? "编辑" : "新增"} 成功`,
          });
        }
      });
    },

    //获取详情
    async getDetail() {
      const res = await getExterpriseDetails(this.id);
      // console.log(res);
      const {
        businessLicenseId,
        businessLicenseUrl,
        contact,
        contactNumber,
        industryCode,
        legalPerson,
        name,
        registeredAddress,
      } = res.data;
      this.addForm = {
        businessLicenseId,
        businessLicenseUrl,
        contact,
        contactNumber,
        industryCode,
        legalPerson,
        name,
        registeredAddress,
      };
    },
  },
};
</script>

<style scoped lang="scss">
.add-enterprise {
  background-color: #f4f6f8;
  height: 100vh;

  .add-header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    height: 64px;
    line-height: 64px;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;

    .left {
      span {
        margin-right: 4px;
      }
      .arrow {
        cursor: pointer;
      }
    }

    .right {
      text-align: right;
    }
  }

  .add-main {
    background: #f4f6f8;
    padding: 20px 130px;

    .form-container {
      background-color: #fff;
      .title {
        height: 60px;
        line-height: 60px;
        padding-left: 20px;
      }
      .form {
        margin-bottom: 20px;
        padding: 20px 65px 24px;
        .el-form {
          display: flex;
          flex-wrap: wrap;
          .el-form-item {
            width: 50%;
          }
        }
      }
    }
  }

  .add-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 24px 50px;
    color: #000000d9;
    font-size: 14px;
    background: #fff;
    text-align: center;
  }
}
</style>
