<template>
  <div class="building-container">
    <!-- 搜索区域 -->
    <div class="search-container">
      <div class="search-label">企业名称：</div>
      <el-input
        clearable
        placeholder="请输入内容"
        class="search-main"
        v-model="formParams.name"
        @clear="clearData"
      />
      <el-button type="primary" @click="getList">查询</el-button>
    </div>
    <div class="create-container">
      <el-button
        type="primary"
        @click="$router.push('/enterpriseAdd')"
        v-auth-btn="'park:enterprise:remove'"
        >添加企业</el-button
      >
    </div>
    <!-- 表格区域 -->
    <div class="table">
      <el-table
        style="width: 100%"
        :data="tableData"
        @expand-change="expandChange"
      >
        <el-table-column type="expand">
          <template #default="props">
            <el-table :data="props.row.rentList">
              <el-table-column
                label="租赁楼宇"
                width="320"
                prop="buildingName"
              />
              <el-table-column label="租赁起始时间" prop="startTime" />
              <el-table-column label="合同状态" prop="status">
                <template #default="scope">
                  {{ formartStatus(scope.row.status) }}
                </template>
              </el-table-column>
              <el-table-column label="操作" width="180">
                <!--
                    生效状态下 - 退租按钮可点击的  删除不可点击
                    退租的状态下 - 退租按钮不可点击 删除可点击
                    1. 拿到当前合同的状态 作为条件   已退租 3  生效中 1
                    2. disabled  true就不可点击了
                   -->
                <template #default="scope">
                  <el-button
                    size="mini"
                    type="text"
                    :disabled="scope.row.status === 3"
                    @click="checkOut(scope.row.id)"
                    >退租</el-button
                  >
                  <el-button
                    size="mini"
                    type="text"
                    :disabled="scope.row.status === 1"
                    >删除</el-button
                  >
                </template>
              </el-table-column>
            </el-table>
          </template>
        </el-table-column>
        <el-table-column type="index" label="序号" />
        <el-table-column label="企业名称" width="320" prop="name" />
        <el-table-column label="联系人" prop="contact" />
        <el-table-column label="联系电话" prop="contactNumber" />
        <el-table-column label="操作">
          <template #default="scope">
            <el-button
              size="mini"
              type="text"
              @click="handleCreateContract(scope.row.id)"
              >添加合同</el-button
            >
            <el-button size="mini" type="text">查看</el-button>
            <el-button size="mini" type="text" @click="handleEdit(scope.row.id)"
              >编辑</el-button
            >
            <el-button
              size="mini"
              type="text"
              @click="handleDelete(scope.row.id)"
              >删除</el-button
            >
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="page-container">
      <el-pagination
        background
        layout="total, prev, pager, next"
        :current-page="formParams.page"
        :page-size="formParams.pageSize"
        :total="total"
        @current-change="handleCurrentChange"
      />
    </div>

    <!--   弹框区域 -->
    <el-dialog
      title="提示"
      :visible.sync="dialogVisible"
      width="600px"
      @close="handleClose"
    >
      <div class="form-container">
        <el-form
          ref="form"
          :model="rentForm"
          :rules="rentRules"
          label-position="top"
        >
          <el-form-item label="租赁楼宇" prop="buildingId">
            <el-select
              v-model="rentForm.buildingId"
              placeholder="请选择"
              style="width: 100%"
            >
              <el-option
                v-for="item in buildingList"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
          <el-form-item label="租赁起止日期" prop="rentTime">
            <el-date-picker
              style="width: 100%"
              v-model="rentForm.rentTime"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              value-format="yyyy-MM-dd"
            />
          </el-form-item>
          <el-form-item label="租赁合同" prop="contractId">
            <el-upload
              action="#"
              ref="uploadRef"
              :before-upload="beforeUpload"
              :http-request="uploadFile"
            >
              <el-button size="small" type="primary" plain
                >上传合同文件</el-button
              >
              <div slot="tip" class="el-upload__tip">
                支持扩展名：.doc .docx .pdf, 文件大小不超过5M
              </div>
            </el-upload>
          </el-form-item>
        </el-form>
      </div>

      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="confirmClick">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  getExterpriseListAPI,
  getRentListAPI,
  deleteExterprise,
  getRentBuildListAPI,
  uploadFile,
  createRentAPI,
  outRentAPI,
} from "@/api/index";

export default {
  name: "Enterprise",
  data() {
    return {
      rentForm: {
        buildingId: null, // 楼宇id
        contractId: null, // 合同id
        contractUrl: "", // 合同Url
        enterpriseId: null, // 企业名称
        type: 0, // 合同类型
        rentTime: [], // 合同时间
      },
      rentRules: {
        buildingId: [
          { required: true, message: "请选择楼宇", trigger: "change" },
        ],
        rentTime: [
          { required: true, message: "请选择租赁日期", trigger: "change" },
        ],
        contractId: [{ required: true, message: "请上传合同文件" }],
      },

      buildingList: [],
      dialogVisible: false,
      formParams: {
        name: "",
        page: 1,
        pageSize: 5,
      },
      total: 0,
      tableData: [],
    };
  },

  created() {
    this.getList();
  },

  methods: {
    //# 渲染列表
    async getList() {
      const res = await getExterpriseListAPI(this.formParams);
      this.tableData = res.data.rows.map((item) => {
        return { ...item, rentList: [] };
      });

      this.total = res.data.total;
    },

    handleCurrentChange(value) {
      this.formParams.page = value;
      this.getList();
    },
    //# 清空数据
    clearData() {
      this.getList();
    },

    //编辑企业数据
    handleEdit(id) {
      this.$router.push({
        query: {
          id,
        },
        path: "/enterpriseAdd",
      });
    },

    handleDelete(id) {
      this.$confirm("您确定要删除这条数据吗？", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(async () => {
        await deleteExterprise(id);
        this.formParams.page = 1;
        this.getList();
        this.$message({
          type: "success",
          message: "删除成功",
        });
      });
    },

    //点击左边的箭头，进行展开
    async expandChange(row, rows) {
      const item = rows.find((item) => item.id === row.id);
      if (item) {
        const res = await getRentListAPI(row.id);

        row.rentList = res.data;
      }
    },

    formartStatus(status) {
      const MAP = {
        0: "待生效",
        1: "生效中",
        2: "已到期",
        3: "已退租",
      };
      return MAP[status];
    },

    //弹框关闭时调用
    //TODO: 表单置空，上传控件清空
    handleClose() {
      (this.rentForm = {
        buildingId: null, // 楼宇id
        contractId: null, // 合同id
        contractUrl: "", // 合同Url
        enterpriseId: null, // 企业名称
        type: 0, // 合同类型
        rentTime: [], // 合同时间
      }),
        this.$refs.form.resetFields();
      this.$refs.uploadRef.clearFiles();
      this.dialogVisible = false;
    },

    // 获取楼宇列表
    async getRentBuildingList() {
      const res = await getRentBuildListAPI();
      this.buildingList = res.data;
    },

    //创建合同
    handleCreateContract(id) {
      this.dialogVisible = true;
      this.rentForm.enterpriseId = id;
      this.getRentBuildingList();
    },

    //上传之前，进行验证
    beforeUpload(file) {
      // .doc .docx .pdf,
      console.log(file);
      // const isJPG = file.type === "image/jpeg";
      // const isLt2M = file.size / 1024 / 1024 < 2;

      // if (!isJPG) {
      //   this.$message.error("上传头像图片只能是 JPG 格式!");
      // }
      // if (!isLt2M) {
      //   this.$message.error("上传头像图片大小不能超过 2MB!");
      // }
      // return isJPG && isLt2M;
    },

    //进行上传
    async uploadFile(res) {
      const file = res.file;
      // console.log(file);
      const formData = new FormData();

      formData.append("file", file);
      formData.append("type", "contract");
      let result = await uploadFile(formData);
      this.rentForm.contractId = result.data.id;

      this.rentForm.contractUrl = result.data.url;
      // console.log(this.contractId,this.contractUrl);
      //单独校验
      this.$refs.form.validate("contractId");
    },

    //提交合同
    confirmClick() {
      this.$refs.form.validate(async (valid) => {
        if (valid) {
          const { buildingId, contractId, contractUrl, enterpriseId, type } =
            this.rentForm;
          await createRentAPI({
            buildingId,
            contractId,
            contractUrl,
            enterpriseId,
            type,
            startTime: this.rentForm.rentTime[0],
            endTime: this.rentForm.rentTime[1],
          });

          this.$message({
            type: "success",
            message: "添加成功",
          });
          this.getList();
          this.dialogVisible = false;
        }
      });
    },

    //TODO: 合同按钮显示的状态

    //退租
    async checkOut(id) {
      await outRentAPI(id);
      this.getList();
    },
  },
};
</script>

<style lang="scss" scoped>
.department-container {
  padding: 10px;
  // overflow: hidden;
}

.search-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(237, 237, 237, 0.9);
  padding-bottom: 20px;

  .search-label {
    width: 100px;
  }

  .search-main {
    width: 220px;
    margin-right: 10px;
  }
}
.create-container {
  margin: 10px 0px;
}
.page-container {
  padding: 4px 0px;
  text-align: right;
}
.form-container {
  padding: 0px 80px;
}
</style>
