<template>
  <div class="login_body">
    <div class="bg" />
    <div class="box">
      <div class="title">智慧园区-登录</div>
      <el-form ref="form" :model="loginForm" :rules="loginRules">
        <el-form-item label="账号" prop="username">
          <el-input v-model="loginForm.username" />
        </el-form-item>

        <el-form-item label="密码" prop="password">
          <el-input v-model="loginForm.password" show-password />
        </el-form-item>

        <el-form-item prop="remember">
          <el-checkbox v-model="loginForm.isRememberMe">记住我</el-checkbox>
        </el-form-item>

        <el-form-item>
          <el-button type="primary" class="login_btn" @click="submitForm"
            >登录</el-button
          >
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import { LOGINT_USER_INFO } from "@/constants/KEY";
import { getCache, setCache, removeCache } from "@/utils/cache";
export default {
  name: "Login",
  data() {
    return {
      loginForm: {
        username: "",
        password: "",
        isRememberMe: false,
      },
      loginRules: {
        username: [
          { required: true, message: "请输入用户名", trigger: "blur" },
        ],
        password: [{ required: true, message: "请输入密码", trigger: "blur" }],
      },
    };
  },

  mounted() {
    if (getCache(LOGINT_USER_INFO)) {
      const { username, password } = getCache(LOGINT_USER_INFO);
      this.loginForm.username = username;
      this.loginForm.password = password;
    }
  },
  //TODO: 提交登录表单进行校验
  methods: {
    submitForm() {
      this.$refs.form.validate(async (valid) => {
        if (valid) {
          const { username, password } = this.loginForm;
          await this.$store.dispatch("user/loginAction", {
            username,
            password,
          });
          const redirect = this.$route.query.redirect;

          console.log("redirect:",redirect);
          if (redirect) {
            console.log(111);
            this.$router.push(redirect)
          } else {
            this.$router.push("/");
          }
          this.$message.success("登录成功");

          if (this.loginForm.isRememberMe) {
            setCache(LOGINT_USER_INFO, { username, password });
          } else {
            removeCache(LOGINT_USER_INFO);
          }
        }
      });
    },
  },
};
</script>

<style scoped lang="scss">
.login_body {
  display: flex;
}
.bg {
  width: 60vw;
  height: 100vh;
  background: url("~@/assets/login-bg.svg") no-repeat;
  background-position: right top;
  background-size: cover;
}
.box {
  margin: 200px 10% 0;
  flex: 1;
  .title {
    padding-bottom: 76px;
    font-size: 26px;
    font-weight: 500;
    color: #1e2023;
  }
  ::v-deep() {
    .ant-form-item {
      display: flex;
      margin-bottom: 62px;
      flex-direction: column;
    }
    .ant-form-item-label label {
      font-size: 16px;
      color: #8b929d;
    }
    .ant-input,
    .ant-input-password {
      border-radius: 8px;
    }
  }
}
.login_btn {
  width: 100%;
}
</style>
