<template>
  <div class="role-container">
    <div class="left-wrapper">
      <div
        v-for="(item, index) in roleList"
        :key="item.roleId"
        class="role-item"
        @click="tabClick(index, item.roleId)"
        :class="{ active: currentIndex === index }"
      >
        <div class="role-info">
          <svg-icon
            :icon-class="currentIndex === index ? 'user-active' : 'user'"
            class="icon"
          />
          {{ item.roleName }}
        </div>
        <div class="more">
          <el-dropdown>
            <span class="el-dropdown-link">
              <svg-icon icon-class="more" />
            </span>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item @click.native="editRole(item.roleId)"
                >编辑角色</el-dropdown-item
              >
              <el-dropdown-item>删除</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
      </div>
      <el-button class="addBtn" size="mini" @click="$router.push('/roleChange')"
        >添加角色</el-button
      >
    </div>
    <div class="right-wrapper">
      <el-tabs v-model="activeName">
        <el-tab-pane label="功能权限" name="tree">
          <div class="tree-wrapper">
            <div class="tree-item" v-for="item in treeList" :key="item.id">
              <div class="tree-title">
                {{ item.title }}
              </div>

              <!-- 如果需要通过 key 来获取或设置，则必须设置node-key。 -->
              <el-tree
                ref="tree"
                :data="item.children"
                default-expand-all
                show-checkbox
                node-key="id"
                :props="{ label: 'title' }"
              ></el-tree>
            </div>
          </div>
        </el-tab-pane>
        <el-tab-pane :label="`成员列表(${memeberTotal})`" name="member">
          <el-table :data="roleUserList">
            <el-table-column type="index" width="250px" label="序号" />
            <el-table-column prop="name" label="员工姓名" />
            <el-table-column prop="userName" label="登录账号" />
          </el-table>
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>

<script>
import {
  getRoleListAPI,
  getTreeListAPI,
  getRoleDetailAPI,
  getRoleUserAPI,
} from "@/api/index";

import { addDisabled } from "@/utils/format";
export default {
  name: "Role",

  data() {
    return {
      roleList: [],
      treeList: [],
      currentIndex: 0,
      activeName: "tree",
      roleUserList: [],
      memeberTotal: 0,
    };
  },

  async mounted() {
    await this.getRoleList();
    await this.getTreeList();
    this.setHighlight(this.roleList[0].roleId);
    this.getRoleMemeber(this.roleList[0].roleId);
  },
  methods: {
    //编辑角色
    editRole(roleId) {
      this.$router.push(`/roleChange?id=${roleId}`);
    }, //设置角色选中的状态
    async setHighlight(roleId) {
      let res = await getRoleDetailAPI(roleId);

      this.$refs.tree.forEach((item, index) => {
        item.setCheckedKeys(res.data.perms[index]);
      });
    },
    //切换选项
    async tabClick(index, roleId) {
      this.currentIndex = index;
      this.setHighlight(roleId);
      this.getRoleMemeber(roleId);
    },
    //获取角色的列表
    async getRoleList() {
      const res = await getRoleListAPI();
      this.roleList = res.data;
    },

    //获取成员列表
    async getRoleMemeber(roleId) {
      const res = await getRoleUserAPI(roleId);
      this.roleUserList = res.data.rows;
      this.memeberTotal = res.data.total;
    },

    //获取权限树的列表
    async getTreeList() {
      const res = await getTreeListAPI();

      this.treeList = res.data;

      addDisabled(this.treeList);
    },
  },
};
</script>

<style scoped lang="scss">
.role-container {
  display: flex;
  font-size: 14px;
  background-color: #fff;
  padding: 20px;
  .left-wrapper {
    width: 200px;
    border-right: 1px solid #e4e7ec;
    padding: 4px;
    text-align: center;

    .role-item {
      position: relative;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      cursor: pointer;

      &.active {
        background: #edf5ff;
        color: #4770ff;
      }
    }

    .role-info {
      display: flex;
      align-items: center;

      .icon {
        margin-right: 10px;
      }
    }

    .more {
      display: flex;
      align-items: center;
    }
    .addBtn {
      width: 100%;
      margin-top: 20px;
    }
  }

  .right-wrapper {
    flex: 1;

    .tree-wrapper {
      display: flex;
      justify-content: space-between;

      .tree-item {
        flex: 1;
        border-right: 1px solid #e4e7ec;
        padding: 0px 4px;
        text-align: center;
        .tree-title {
          background: #f5f7fa;
          text-align: center;
          padding: 10px 0;
          margin-bottom: 12px;
        }
      }
    }

    ::v-deep .el-tabs__nav-wrap {
      padding-left: 20px;
    }

    .user-wrapper {
      padding: 20px;
    }
  }
}
</style>
