<template>
  <div class="role-change">
    <header class="add-header">
      <div class="left">
        <span class="arrow" @click="$router.back()"
          ><i class="el-icon-arrow-left" />返回</span
        >
        <span>|</span>
        <span>{{ getRoId ? "编辑角色" : "新增角色" }}</span>
      </div>
      <div class="right">黑马程序员</div>
    </header>
    <main class="add-main">
      <div class="step-container">
        <el-steps direction="vertical" :active="activeStep">
          <el-step title="角色信息" />
          <el-step title="权限信息" />
          <el-step title="检查并完成" />
        </el-steps>
      </div>
      <div class="form-container" v-show="activeStep === 1">
        <div class="title">角色信息</div>
        <div class="form">
          <el-form
            class="form-box"
            :model="roleForm"
            :rules="roleRules"
            ref="formInfo"
          >
            <el-form-item label="角色名称" prop="roleName">
              <el-input v-model="roleForm.roleName" />
            </el-form-item>
            <el-form-item label="角色描述">
              <el-input v-model="roleForm.remark" type="textarea" />
            </el-form-item>
          </el-form>
        </div>
      </div>
      <div class="form-container" v-show="activeStep === 2">
        <div class="title">权限配置</div>

        <div class="tree-wrapper">
          <div v-for="item in treeList" :key="item.id" class="tree-item">
            <div class="tree-title">{{ item.title }}</div>
            <el-tree
              ref="tree"
              check-strictly
              :data="item.children"
              show-checkbox
              default-expand-all
              node-key="id"
              highlight-current
              :props="{ label: 'title' }"
            />
          </div>
        </div>
      </div>
      <div class="form-container" v-show="activeStep === 3">
        <div class="title">检查并完成</div>
        <div class="form">
          <div class="info">
            <div class="form-item">角色名称：{{ roleForm.roleName }}</div>
            <div class="form-item">角色描述：{{ roleForm.remark }}</div>
            <div class="form-item">角色权限：</div>
            <div class="tree-wrapper">
              <div
                v-for="item in disabledTreeList"
                :key="item.id"
                class="tree-item"
              >
                <div class="tree-title">{{ item.title }}</div>
                <el-tree
                  ref="diabledTree"
                  :data="item.children"
                  show-checkbox
                  default-expand-all

                  node-key="id"
                  :highlight-current="false"
                  :props="{ label: 'title' }"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="add-footer">
      <div class="btn-container">
        <el-button @click="preStep" v-if="activeStep > 1">上一步</el-button>
        <el-button type="primary" @click="nextStep" v-if="activeStep < 3"
          >下一步</el-button
        >
        <el-button type="primary" v-if="activeStep === 3" @click="confirmInfo">
          确认添加</el-button
        >
      </div>
    </footer>
  </div>
</template>
<script>
import {
  getTreeListAPI,
  createRoleUserAPI,
  getRoleDetailAPI,
  updateRoleUserAPI,
} from "@/api/index";
import { addDisabled } from "@/utils/format";
export default {
  data() {
    return {
      activeStep: 1,

      roleForm: {
        roleName: "",
        remark: "",
        perms: [],
      },
      roleRules: {
        roleName: [
          { required: true, message: "请输入角色名称", trigger: "blur" },
        ],
      },
      treeList: [],
      disabledTreeList: [],
    };
  },

  async mounted() {
    await this.getTreeList();
    if (this.getRoId) {
      this.getRoleDetail();
    }
  },
  methods: {
    preStep() {
      if (this.activeStep === 1) return;
      this.activeStep--;
    },
    nextStep() {
      if (this.activeStep === 3) return;

      if (this.activeStep === 1) {
        this.$refs.formInfo.validate((valid) => {
          if (valid) {
            this.activeStep++;
          }
        });
      } else if (this.activeStep === 2) {
        // 处于权限状态

        this.roleForm.perms = [];
        this.$refs.tree?.forEach((treeInstance) => {
          const list = treeInstance.getCheckedKeys();
          // 判断是否至少选中了一项
          // 思路：把五个数组合成一个数组 判断这个数组的长度是否大于零
          this.roleForm.perms.push(list);
        });

        if (this.roleForm.perms.flat().length === 0) {
          this.$message({
            type: "error",
            message: "必须选中一项",
          });
        } else {
          this.activeStep++;

          //第三步，进行数据的回填
          this.$refs.diabledTree.forEach((treeInstance, index) => {
            treeInstance.setCheckedKeys(this.roleForm.perms[index]);
          });
        }
      }
    },

    //确认添加
    async confirmInfo() {
      if (this.getRoId) {
        await updateRoleUserAPI({ roleId: this.getRoId, ...this.roleForm });
        this.$message.success("修改角色成功");
      } else {
        await createRoleUserAPI(this.roleForm);
        this.$message.success("添加角色成功");
      }
      this.$router.back();
    },

    //获取权限树的列表
    async getTreeList() {
      const res = await getTreeListAPI();

      this.treeList = res.data;

      this.disabledTreeList = JSON.parse(JSON.stringify(res.data));

      addDisabled(this.disabledTreeList);
    },

    //获取角色详情信息
    async getRoleDetail() {
      console.log;
      const res = await getRoleDetailAPI(this.getRoId);
      const { roleName, remark, perms } = res.data;
      this.roleForm = { roleName, remark, perms };

      this.$refs.tree.forEach((treeInstance, index) => {
        treeInstance.setCheckedKeys(this.roleForm.perms[index]);
      });
    },
  },
  computed: {
    getRoId() {
      return this.$route.query.id;
    },
  },
};
</script>

<style scoped lang="scss">
.role-change {
  background-color: #f4f6f8;
  height: 100vh;

  .add-header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    height: 64px;
    line-height: 64px;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;

    .left {
      span {
        margin-right: 4px;
      }

      .arrow {
        cursor: pointer;
      }
    }

    .right {
      text-align: right;
    }
  }

  .add-main {
    position: fixed;
    top: 64px;
    bottom: 88px;
    width: 100%;
    overflow-y: auto;
    background: #f4f6f8;
    padding: 20px 230px;
    display: flex;
    .step-container {
      height: 400px;
      width: 200px;
    }
    .form-container {
      flex: 1;
      background-color: #fff;
      overflow-y: auto;
      .title {
        height: 60px;
        line-height: 60px;
        padding-left: 20px;
      }
      .form {
        margin-bottom: 20px;
        padding: 20px 65px 24px;
        .el-form {
          display: flex;
          flex-wrap: wrap;
        }
        .info {
          font-size: 14px;
          color: #666;
          .form-item {
            margin-bottom: 20px;
          }
        }
      }
      .form-box {
        width: 600px;
        display: flex;
        flex-direction: column;
      }
    }
  }

  .add-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 24px 50px;
    color: #000000d9;
    font-size: 14px;
    background: #fff;
    text-align: center;
    z-index: 10001;
  }
  .tree-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .tree-item {
      flex: 1;
      padding: 0px 4px;
      text-align: center;
      .tree-title {
        background: #f5f7fa;
        text-align: center;
        padding: 10px 0;
        margin-bottom: 12px;
      }
    }
  }
}
</style>
