<template>
  <div class="employee">
    <div class="employee-container">
      <div class="search-container">
        <div class="search-label">员工姓名：</div>
        <el-input
          size="small"
          clearable
          v-model="quertyParams.name"
          placeholder="请输入员工姓名"
          class="search-main"
        />

        <el-button type="primary" @click="queryInfo" size="small"
          >查询</el-button
        >
      </div>

      <div class="table-list">
        <div class="create-container">
          <el-button type="primary" @click="addClick" size="small"
            >添加员工</el-button
          >
        </div>

        <el-table
          ref="employeeRef"
          :data="tableData"
          tooltip-effect="dark"
          style="width: 100%"
        >
          <el-table-column label="序号" type="index"> </el-table-column>
          <el-table-column label="员工姓名" prop="name"> </el-table-column>
          <el-table-column label="登录账号" prop="userName"> </el-table-column>
          <el-table-column prop="phonenumber" label="联系方式">
          </el-table-column>
          <el-table-column prop="roleName" label="角色"> </el-table-column>
          <el-table-column prop="status" label="状态">
            <template #default="scope">
              {{ scope.row.status === 0 ? "未启用" : "启用" }}
            </template>
          </el-table-column>
          <el-table-column label="操作">
            <template #default="scope">
              <el-button
                type="text"
                size="small"
                @click="editClick(scope.row.id)"
                >编辑</el-button
              >
              <el-button
                type="text"
                size="small"
                @click="deleteClick(scope.row.id)"
                >删除</el-button
              >
              <el-button
                type="text"
                size="small"
                @click="resetPassword(scope.row.id)"
                >重置密码</el-button
              >
            </template>
          </el-table-column>
        </el-table>

        <el-pagination
          background
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="quertyParams.page"
          :page-sizes="[10, 20, 30, 50]"
          :page-size="quertyParams.pageSize"
          layout="total, prev, pager, next,sizes"
          :total="total"
        >
        </el-pagination>
      </div>
    </div>

    <employeeDialog
      :show-dialog.sync="showDialog"
      @successInfo="handleSuccessInfo"
      ref="employeeDialogRef"
      :id="id"
    ></employeeDialog>
  </div>
</template>

<script>
import employeeDialog from "@/views/System/Employee/components/employee-dialog.vue";
import {
  getEmployeeListAPI,
  deleteEmployeeById,
  resetPasswordApi,
} from "@/api/index";
export default {
  components: {
    employeeDialog,
  },
  name: "Employee",
  data() {
    return {
      quertyParams: {
        name: "",
        page: 1,
        pageSize: 10,
      },
      total: 0,
      tableData: [],
      showDialog: false,
      id: null,
    };
  },
  mounted() {
    this.getUserList();
  },

  methods: {
    async getUserList() {
      const res = await getEmployeeListAPI(this.quertyParams);
      this.tableData = res.data.rows;
      this.total = res.data.total;
    },

    handleSizeChange(value) {
      this.quertyParams.pageSize = value;
      this.quertyParams.page = 1;
      this.getUserList();
    },

    handleCurrentChange(value) {
      this.quertyParams.page = value;
      this.getUserList();
    },

    //添加员工
    addClick() {
      this.showDialog = true;
    },

    handleSuccessInfo(flag) {
      if (flag === "add") {
        this.quertyParams.page = 1;
      }
      this.getUserList();
    },

    //编辑员工
    async editClick(id) {
      this.showDialog = true;
      this.id = id;
      this.$nextTick(() => this.$refs.employeeDialogRef.getEmployeeDetail());
    },

    //删除员工
    async deleteClick(id) {
      this.$confirm("您确定要删除这条记录吗？", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(async () => {
        await deleteEmployeeById(id);
        this.getUserList();
        this.$message({
          type: "success",
          message: "删除成功!",
        });
      });
    },
    //根据条件查询信息
    queryInfo() {
      this.quertyParams.page = 1;
      this.getUserList();
    },

    async resetPassword(id) {
      this.$confirm("确定将密码重置为“123456”？", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(async () => {
        await resetPasswordApi(id);

        this.$message({
          type: "success",
          message: "操作成功",
        });
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.search-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(237, 237, 237, 0.9);
  padding-bottom: 20px;
  .search-label {
    width: 100px;
  }
  .search-main {
    width: 220px;
    margin-right: 10px;
  }

  .el-button {
    margin-left: 10px;
  }
}
.table-list {
  margin: 15px 0;

  .el-button {
    margin-right: 15px;
  }
}
.el-pagination {
  margin-top: 10px;
  text-align: right;
}
</style>
